{
   "inputs": {
      "test": {
         "phase": "EVAL", 
         "input_type": "ListGenerator", 
         "relation_file": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/relation_test.txt.fd",
         "batch_list": 500
      }, 
      "predict": {
         "phase": "PREDICT", 
         "input_type": "ListGenerator", 
         "relation_file": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/relation_test.txt.fd",
         "batch_list": 500
      }, 
      "train": {
         "relation_file": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/relation_train.txt.fd",
         "input_type": "PairGenerator", 
         "batch_size": 500, 
         "batch_per_iter": 1, 
         "phase": "TRAIN", 
         "query_per_iter": 1000, 
         "use_iter": false
      }, 
      "share": {
         "vocab_size": 99684,
         "use_dpool": true, 
         "embed_size": 300, 
         "target_mode": "ranking", 
         "text1_corpus": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/corpus_preprocessed.txt",
         "text2_corpus": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/corpus_preprocessed.txt",
         "corpus_file": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/corpus.txt",
         "valid_ref_file": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/dev.tok.lc.response",
         "test_ref_file": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/test.tok.lc.response",
         "embed_path": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/cut_embed_glove_840B_300d.txt",
         "text1_maxlen": 30,
         "train_embed": true, 
         "text2_maxlen": 30
      }, 
      "valid": {
         "phase": "EVAL", 
         "input_type": "ListGenerator", 
         "relation_file": "../../../data/udc/google-drive-hybrid-ranking-input-demo/ModelInput-seq2seq-mix-ret/relation_valid.txt.fd",
         "batch_list": 500
      }
   }, 
   "global": {
      "optimizer": "adam", 
      "num_iters": 1000,
      "save_weights_iters": 10,
      "learning_rate": 0.0001,
      "test_weights_iters": 70,
      "weights_file": "../../../data/udc/google-drive-hybrid-ranking-input-demo/model-res/seq2seq-mix-ret-matchpyramid.weights",
      "num_batch": 100, 
      "num_epochs": 100, 
      "model_type": "PY", 
      "display_interval": 10
   }, 
   "outputs": {
      "predict": {
         "save_format": "TREC", 
         "save_path": "../../../data/udc/google-drive-hybrid-ranking-input-demo/model-res/seq2seq-mix-ret-matchpyramid.predict.test.txt",
         "save_path_during_train": "../../../data/udc/google-drive-hybrid-ranking-input-demo/model-res/seq2seq-mix-ret-matchpyramid.predict"
      }
   }, 
   "losses": [
      {
         "object_name": "rank_hinge_loss", 
         "object_params": {
            "margin": 1.0
         }
      }
   ], 
   "metrics": [
      "precision@1",
      "recall@1", 
      "recall@2", 
      "recall@5", 
      "map"
   ], 
   "net_name": "MatchPyramid", 
   "model": {
      "model_py": "matchpyramid.MatchPyramid", 
      "setting": {
         "dpool_size": [
            3, 
            3
         ], 
         "dropout_rate": 0.5, 
         "kernel_count": 64, 
         "kernel_size": [
            3,
            3
         ]
      }, 
      "model_path": "./models/"
   }
}